:root {
  --EditorCursorBackground: #aeafad;
  --EditorFontFamily: monospace;
  --EditorFontFeatureSettings: normal;
  --EditorFontSize: 15px;
  --EditorFontWeight: 400;
  --EditorLetterSpacing: 0;
  --EditorLineHeight: 20px;
  --EditorSelectionBackground: #264f78;
  --EditorTabSize: 2;
  --MainBackground: #1e1e1e;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  overflow: hidden;
  background: var(--MainBackground);
}

.Viewlet {
  contain: strict;
}

.Editor {
  width: 100%;
  height: 100%;
  background: var(--MainBackground);
  color: #d4d4d4;
  outline: none;
  border: none;
  font-family: var(--EditorFontFamily);
  white-space: pre;
  font-size: var(--EditorFontSize);
  letter-spacing: var(--EditorLetterSpacing);
  font-feature-settings: var(--EditorFontFeatureSettings);
  tab-size: var(--EditorTabSize);
  cursor: text;
  font-weight: var(--EditorFontWeight);
  display: flex;
}

.EditorContent,
.EditorLayers,
.EditorRows {
  contain: strict;
  width: 100%;
  height: 100%;
}

.EditorRows {
  white-space: pre;
}

.EditorRow {
  display: block;
  height: var(--EditorLineHeight);
  line-height: var(--EditorLineHeight);
  contain: strict;
}

.Editors {
  flex: 1;
}

.EditorCursor {
  width: 2px;
  height: var(--EditorLineHeight);
  position: absolute;
  top: 0;
  left: 0;
  background: var(--EditorCursorBackground);
  pointer-events: none;
  contain: strict;
}

.EditorInput {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  padding: 0;
  border: 0;
  font-size: 1px;
  top: -9999px;
  left: -9999px;
}

.EditorSelection {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  background: var(--EditorSelectionBackground);
}

.Token {
  contain: content;
}

.TokenComment {
  color: #6a9955;
}

.TokenString,
.TokenStringValue {
  color: #ce9178;
}

.TokenNumeric,
.TokenNumber {
  color: #b5cea8;
}

.TokenKeyword,
.TokenTag,
.TokenTagName {
  color: #569cd6;
}

.TokenAttribute,
.TokenAttributeName,
.TokenProperty,
.TokenPropertyName {
  color: #9cdcfe;
}

.TokenPunctuation,
.TokenPunctuationTag {
  color: #808080;
}

.LayerCursor,
.LayerDiagnostics {
  position: absolute;
  inset: 0;
  pointer-events: none;
}

.Gutter {
  contain: strict;
  width: 30px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Gutter:empty {
  display: none;
}

.LineNumber {
  color: rgba(155, 162, 160, 0.6);
  contain: strict;
  margin-right: 1px;
  height: var(--EditorLineHeight);
  text-align: right;
}

.ScrollBar {
  position: absolute;
  right: 0;
  top: 0;
  width: 14px;
  bottom: 0;
  contain: strict;
  cursor: default;
}

.ScrollBarHorizontal {
  left: 0;
  top: auto;
  height: 14px;
  width: auto;
}

.ScrollBarThumb {
  width: 100%;
  position: absolute;
  contain: strict;
  background: rgba(57, 71, 71, 0.6);
  height: var(--ScrollBarThumbHeight);
  top: var(--ScrollBarThumbTop);
}

.ScrollBarThumbHorizontal {
  height: 100%;
  width: auto;
}
